@import '../../scss/abstract';

:root{
    --name-text-size: 14px;
}

label{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-1);
    @include media(">=medium"){
        row-gap: var(--spacing-1-5);
    }
    @include media(">=large"){
        row-gap: var(--spacing-2);
    }
}

.name-text{
    font-size: var(--name-text-size);
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--color-neutral-400);
    text-transform: uppercase;
}

.input-rack{
    display: flex;
}

input{
    border: 1px solid var(--color-neutral-300);
    border-radius: 10px;
    width: 100%;

    font-size: 18px;
    @include media(">=medium"){
        font-size: 32px;
    }
    font-weight: 800;
    padding: var(--spacing-3);
    padding-left: var(--spacing-4);
}
input::placeholder{
    text-transform: uppercase;
}
input:focus{
    border: 1px solid var(--purple);
    outline: none;
}

.error-text{
    font-size: 8px;
    @include media(">=medium"){
        font-size: var(--name-text-size);
    }
    color: var(--light-red);
    font-style: italic;
    visibility: hidden;
    opacity: 0;
}

label.error input.error{
    border: 1px solid var(--red);
}
label.error .error-text{
    visibility: visible;
    opacity: 1;
}