@import '../../../node_modules/include-media/dist/include-media';

.wrapper-box{
    max-width: 375px;
    @include media(">=medium"){
        max-width: 700px;
    }
    @include media(">=large"){
        max-width: 1000px;
    }
    margin: 0 auto; //center the box

    background-color: var(--color-neutral-100);
    border-radius: 10px;
    border-bottom-right-radius: 30%;

    padding: var(--spacing-10) var(--spacing-5);
    @include media(">=large"){
        padding: 50px;
    }
}