@import './scss/reset';
@import './scss/abstract';
@import './scss/color';
@import './scss/spacing';

@import './scss/components/wrapper-box';

.input-row{
    display: flex;

    column-gap: var(--spacing-5);
    @include media(">=medium"){
        column-gap: var(--spacing-6);
    }
    @include media(">=large"){
        column-gap: var(--spacing-7);
    }
}