*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--color-neutral-200);
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}